.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto; /* Solo disponible en ciertos navegadores */
    font-weight: 400; /* Peso normal */
    font-style: normal;
  }
  
  .montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; /* Peso medio */
    font-style: normal;
  }
  
  .montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; /* Peso negrita */
    font-style: normal;
  }
  


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Color de fondo para el header */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    padding: 10px 0;
    text-align: center;
}

header img {
    max-width: 100%;
    height: 10rem;
    display: block;
    margin: 0 auto;
}

/* Estilos del encabezado */
h1 {
    color: #333;
    text-align: center;
}

p {
    text-align: center;
    color: #555;
}

/* Estilos del contenedor principal */
.main-container {
    width: 100%;
    max-width: 400px;
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del formulario */
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 1rem;
    color: #333;
}

label[for="evento"] {
    margin-bottom: 8px;
    margin-top: 16px;
}

/* Estilo del checkbox */
input[type="checkbox"] {
    margin-right: 8px;
    align-self: flex-start;
}

.group {
    border: 1px solid #DDDDDD;
    padding: 1rem;
    border-radius: 5px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    font-size: 1rem;
    background-color: #DB5F15;
    color: white;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
}

button:hover {
    background-color: #f66009;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    .main-container {
        width: 90%;
        padding: 15px;
    }

    label, input[type="text"], button {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
    }

    .main-container {
        width: 100%;
        padding: 10px;
    }

    header img {
        height: auto;
    }

    label, input[type="text"], button {
        font-size: 0.9rem;
    }
}



